form#css-background-animation-form fieldset {
	padding: 20px;
}

form#css-background-animation-form .js-form-item.form-item {
  margin: 0 0 20px 0;
}

form#css-background-animation-form label {
  width: 20%;
  display: inline-block;
  max-width: 200px;
}

form#css-background-animation-form .description {
	margin-left: 205px;
}